body {
  background-color: #fff;
  color: #333;
  font-size: 18px;
  min-height: 100%;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  margin: 15px;

}

.header-logo {
  margin-left: -15px;
  float: left;
}

.search {
  border:1px solid,#822433;
  float: left;
}

.bigsearch{
  float: right;
  clear: left;
}

.it {
  border: 1px;
  border: #822433;
}

.push {
  display: block;
  float:left;
  background-color: #822433;
  width: 50px;
  height: 50px;
}

nav ul {
  margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
  display: flex;
  padding-top: 25px;
  float: left;
}

li{
  margin: 15px;
}

.toptop {
  clear: right;
}

.something{
  width: 200px;
  height: 200px;
}

.footer {
  width: 20px;
  height: 20px;
  background: #822433;
  color: #fff;
  margin: 5px;
}