body {
  background-color: #fff;
  color: #333;
  font-size: 18px;
  /*background: #fff;*/
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  margin: 15px;
  /*padding-top: 120px;*/
}

.header-logo {
  margin-left: -15px;
  float: left;
}

.search {
  border:1px solid #822433;
  display: inline-block;
}

.bigsearch{
  float: right;
  /*margin-right: 350px;*/
  padding-top: 40px;
}

.searchpeople {
  display: inline-block;
}

.it {
  border: 1px;
  border: #822433;
  display: inline-block;
}

.push {
  display: block;
  float:right;
  background-color: #822433;
  width: 52px;
  height: 52px;
  z-index: 9999px;
  display: flex;
  position: absolute;
  right: 10px;
  bottom: 0%;
}

nav ul {
  /*margin: 0px;*/
	list-style-type: none;
	/*padding: 5px 0px 5px 0px;*/
  display: flex;
  padding-top: 25px;
  float: left;
}

li{
  padding: 15px;
}

li a:hover{
  background-color: #822433;
  color: #fff;
}

li a {
  text-decoration: none;
  padding: 15px;
}

a{
  text-decoration: none;
  color: #000;
}

a:hover {
  border-bottom: 1px solid #000;
}

.top {
  position: fixed;
  margin-left: 250px;
  margin-right: 250px;
  top: 0px;
  width: 100%;
  z-index: 1000;
}

.toptop {
  font-size: 16px;
}

.something{
  width: 200px;
  height: 200px;
}

.footer {
  background-color: #822433; 
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.footerconcent {
  color: #333;
  font-size: 0.7em;
  line-height: 1.5;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 350px;
  padding-left: 350px;
}

.top-footer {
  margin: 30px;
  font-size: 11px;
  line-height: 21px;
  margin-left: 250px;
  margin-right: 250px;
}